<div class= "header bg-dark mx-auto">
  <nav class="navbar navbar-expand navbar-light text-center">
    <div class="container-fluid flex-column">
      <div class="collapse navbar-collapse col" id="navbarNav">
      <li class="nav-item ">
        <%= link_to "タスクマネージャー", root_path, class: "navbar-brand text-white"  %>
      </li>
      </div>
    </div>
  </nav>
</div>