/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */

 * {
  box-sizing: border-box;
}
.body{
  height: 100vh;
}

.header { 
  width: 100vw;
  height: 50px;
}

.footer{
  width: 100vw;
  height: 50px;
}

.main {
  width: 100vw;
  height: calc(100vh - 100px);

  
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.5s ease-in-out;
}

.nav-active{
  transform: translateX(0%)!important;
}

.hamburger {
  transition: all 0.5s ease-in-out!important;
}

@media screen  and (max-width: 768px) {
  body{
    overflow-x: hidden!important;
  }
  .hamburger {
    position: fixed;
    right: 0;
    height: 78vh;
    top: 6vh;
    background-color: rgb(33, 37, 41);
    flex-direction: column !important;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    justify-content: space-around;
  }
  .hamburger li {
    opacity: 0;
  }

  .burger{
    display: block;
  }
}

@keyframes navLinksFade {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
 transform: rotate(-45deg) translate(-5px, 6px); 
}

.toggle .line2{
opacity: 0;
}

.toggle .line3{
 transform: rotate(405deg) translate(-5px, -6px);
}


/* グラデーション */
.gr-categories-show {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image:  linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}

.gr-categories-edit{
  background-color: #000000;
  opacity: 0.8;
  background-image:  linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77), linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77);
  background-size: 22px 39px;
  background-position: 0 0, 0 0, 11px 19px, 11px 19px, 0 0, 11px 19px;
}

.gr {
  background-color: #f3ebeb;
  opacity: 0.6;
  background-image: radial-gradient(circle at center center, #8f7ff3, #f3ebeb), repeating-radial-gradient(circle at center center, #8f7ff3, #8f7ff3, 13px, transparent 26px, transparent 13px);
  background-blend-mode: multiply;
  -webkit-mask-image: radial-gradient(transparent 0% 2%, #FFF 30%);
}
.gr-new{
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.gr-show{
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);

}

.gr-edit{
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 34%, #2BFF88 60%, #ffffff 100%);
}



.gr-users-new{
  background: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
}

.gr-users-edit {
  background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
}

.gr-task-edit{
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}

.gr-task-show{
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}