/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */

 * {
  box-sizing: border-box;
}
.body{
  height: 100vh;
}

.header { 
  width: 100vw;
  height: 50px;
}

.footer{
  width: 100vw;
  height: 50px;
}

.main {
  width: 100vw;
  height: calc(100vh - 100px);
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> c9cec793d2382014dd41816e0f363d6ade9af259
  overflow: scroll;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.5s ease-in-out;
}

.nav-active{
  transform: translateX(0%)!important;
}

.hamburger {
  transition: all 0.5s ease-in-out!important;
}

@media screen  and (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
  .hamburger {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 6vh;
    background-color: rgb(33, 37, 41);
    flex-direction: column !important;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    justify-content: space-around;
  }
  .hamburger li {
    opacity: 0;
  }

  .burger{
    display: block;
  }
}

@keyframes navLinksFade {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
 transform: rotate(-45deg) translate(-5px, 6px); 
}

.toggle .line2{
opacity: 0;
}

.toggle .line3{
 transform: rotate(405deg) translate(-5px, -6px);
}
<<<<<<< HEAD
=======
}


>>>>>>> main
=======




>>>>>>> c9cec793d2382014dd41816e0f363d6ade9af259
