// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.task {
  text-decoration: line-through;
  opacity: 0.5;
}

#week_calendar {
  display: none;
}

.past a {
  color: red !important;
}

